<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../common/header', { title: 'planning' }) %>

  <%- include('../css/userSetting/home') %>
</head>

<body>
  <div class="container">
    <%- include('./_nevigator', { title: 'User Setting' }) %>
    <header>
      <h5>This is userSetting page</h5>
    </header>
  </div>

  <%- include('../common/script') %>

  <%- include('../js/userSetting/home') %>
</body>

</html>