<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../common/header', { title: 'planning' }) %>

  <%- include('../css/userSetting/home') %>
</head>

<body>
  <div class="container-fluid">
    <%- include('./_navigator', { title: 'User Setting' }) %>
    <section class="text-center">
      <p class="link js-planning-link"><button class="btn btn-info">Planning</button></p>
    </section>
  </div>

  <%- include('../common/script') %>

  <%- include('../js/userSetting/home') %>
</body>

</html>