<!doctype html>
<html lang="en">
  <head>
    <%- include('common/header', { title: 'vocabularyListAdd' }) %>

    <%- include('css/vocabularyListAdd') %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h2>Add Vocabulary</h2>
      </div>
      <div id="addResult" class="row"></div>
      <div class="row">
        <form class="vocabulary-add-form-container">
          <div class="form-group">
            <label for="vocaInput">Vocabulary name(단어명)</label>
            <input type="text" class="form-control" id="vocabularyNameInput" placeholder="e.g) turn down" autocapitalize="none">
          </div>
          <div class="form-group">
            <label for="meaningInput">Meaning(의미)</label>
            <input type="text" class="form-control" id="meaningInput" placeholder="e.g) 거절하다 / 拒絶する" autocapitalize="none">
            <small id="meaningInputHelper" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label for="meaningInput">Context Sentence(해당 단어가 속한 문맥)</label>
            <textarea rows="5" class="form-control" id="contextSentenceInput" placeholder="e.g) Why did she turn down your invitation?"></textarea>
          </div>
        </form>
      </div>
      <div class="row">
        <p class="text-justify">
          <button id="submitInput" class="btn btn-primary">Add Vocabulary</button>
          <a href="/<%= process.env.NODE_ENV %>/hiyokoSensei/liff/vocabularyLists/all">
            <button class="btn btn-secondary">See Vocabularies</button>
          </a>
        </p>
      </div>
    </div>

    <%- include('common/script') %>

    <%- include('js/vocabularyListAdd') %>
  </body>
</html>